---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
---

<Layout title="Welcome">
  <main class="min-h-[95vh] flex flex-col justify-between items-center">
    <Navbar />
    <section class="w-5/6 mx-auto text-center flex flex-col items-center">
      <h1 class="text-[4em] font-[500]">
        Your <span class="text-[#007CD5]">minimalistic</span> journaling web app
      </h1>
      <p class="text-[1.25em]">
        With Thoughts, you can journal daily and access them when ever you want,
        wherever you want
      </p>
      <Button content="Get Started" route="/login/" />
    </section>
    <Footer />
  </main>
</Layout>
