---
import Form from "../layouts/Form.astro";
import InputField from "../components/InputField.astro";
---

<Form
  title="Sign Up"
  subtitle="Sign up to start using thoughts"
  redirectInfo="Have an account"
  redirectLink="/login/"
  action="/login/"
>
  <InputField type="text" name="email" placeholder="Email Address" />
  <InputField type="password" name="password" placeholder="Password" />
  <InputField type="password" placeholder="Confirm Password" />
  <InputField type="submit" value="Sign Up" />
</Form>
