---
import Thought from "../layouts/Thought.astro";
---

<Thought>
  <section class="w-3/4 h-full flex flex-col items-center justify-center">
    <section>
      <img src="/images/reading.svg" alt="Girl Reading" />
      <h1 class="text-center my-6 text-[3em] opacity-50">Start Journaling</h1>
    </section>
  </section>
  <script
    language="javascript"
    type="text/javascript"
    src="/scripts/welcome.page.js"
  ></script>
</Thought>
