---
export interface Props {
  content: string;
  route: string;
}

const { content, route } = Astro.props;
---

<a href={route}>
  <button
    class="max-w-[90vw] w-[350px] primary-bg text-white py-2 px-3 my-4 rounded-md poppins"
  >
    {content}
  </button>
</a>
