---
import { Image } from "@astrojs/image/components";
---

<nav class="w-5/6 mx-auto p-2">
  <a href="/" class="flex items-center">
    <Image
      src="/favicon.png"
      width={45}
      aspectRatio="1:1"
      format="png"
      alt="Logo"
    />
    <h1 class="ml-3 text-[2em]">Thoughts</h1>
  </a>
</nav>
