---
import { Image } from "@astrojs/image/components";

const remoteAlt = "Logo";
---

<header class="w-5/6 mx-auto py-3">
  <aside class="flex items-center">
    <Image
      src="/favicon.png"
      width={45}
      aspectRatio="1:1"
      format="png"
      alt={remoteAlt}
    />
    <h1 class="ml-3 text-[2em]">Thoughts</h1>
  </aside>
</header>
